<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>FitForge 需要访问 Apple Music 来为你播放训练音乐</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>FitForge 会在训练时间发送提醒通知</string>
	<key>NSMediaLibraryUsageDescription</key>
	<string>FitForge 需要访问你的音乐库来播放本地音乐</string>
	<key>CFBundleName</key>
	<string>FitForge</string>
	<key>CFBundleDisplayName</key>
	<string>FitForge</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
